<div class="form-group"
      *ngIf="allowEdit; else notAllowedEdit">
     <input  class="form-control"
             [(ngModel)]="itemName"
             [value]="itemName"
            >
     <input  class="form-control"
             [(ngModel)]="itemAmount"
             [value]="itemAmount"
             >
     <button class="btn btn-primary"
             (click)="onChange()"
     > Update </button>
</div>
<ng-template #notAllowedEdit>
  <div class="text-center">
    <h4 class="text-danger">Editing is forbidden</h4>
  </div>
</ng-template>
