<div class="card">
  <h5 class="card-header">{{ itemName }}
    <button class="btn btn-warning"
            (click)="editItemName = !editItemName"
            >Change</button>
    <div *ngIf="editItemName">
      <input  class="form-control"
              placeholder="name"
              #editedItemNameInput>
      <button class="btn btn-success" (click)="onChange()">Save</button>
    </div>
  </h5>
  <div class="card-body">
    <h6>{{ itemAmount }}</h6>
    <button class="btn btn-info"
            (click)="onDuplicate()">
             Duplicate </button>
    <button class="btn btn-danger"
            (click)="onDelete()">
             Delete </button>
  </div>
</div>
