<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="view-shopping-list">Shopping List</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="add-purchase">Add Purchase</a>
      </li>
    </ul>
    </div>
  </div>
<!--  <h2 class="text-primary text-center">{{ title }}</h2>-->
<!--    <app-create-shopping-item></app-create-shopping-item>-->
<!--  <div class="row">-->
<!--    <div class="col-12 text-center">-->
<!--      <app-shopping-list [shoppingList]="shoppingList"></app-shopping-list>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

