<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-center text-primary">{{ title }}</h2>
      <h4 class="text-center text-secondary"> {{ subtitle }}</h4>
      <div class="col-md-6">
      <label> Set focus
        <input appFocus
               type="text">
      </label>
      <label> Hide Btn if Input empty
        <input
               type="text">
      </label>
      <label> On hover Input change font size and border-color
        <input
               type="text">
      </label>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
