<div class="row text-center justify-content-center">
  <form #shopForm="ngForm" (ngSubmit)="onCreateShopItem(shopForm.value)">
    <div class="form-group">
      <label for="itemName"> Name:
        <input type="text"
               class="form-control"
               placeholder="name"
               ngModel
               id="itemName"
               name="itemName"
               required
        >
      </label>
      <div class="form-group">
        <label for="itemAmount"> Amount:
          <input type="text"
                 class="form-control"
                 placeholder="amount"
                 ngModel
                 id="itemAmount"
                 name="itemAmount"
                 required
          >
        </label>
      </div>
    </div>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="!shopForm.valid"
    >Submit</button>
  </form>
</div>
