.bg {
  min-height: 39rem;
  width: 100%;
  background: url("../../assets/img/_0.JPG") center center no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.text-center {
  margin-top: 19rem;
  margin-left: 60%;
  font-weight: bold;
  font-size: 2.5rem;
  color: springgreen;
}
